
pillow==9.0.0
pillow-simd==9.0.0.post

# torch>=1.4
# torchvision>=0.5
pyyaml>=3.13
opencv-python
tqdm
tensorboard
lmdb
packaging
matplotlib
yacs
cityscapesscripts

# pyarrow==0.17.1
pyarrow
mmcv-full
crypten

pycocotools
json_tricks
nms
